<div class="container">
<h1>Update your pet's profile here</h1>
<hr>
<%= simple_form_for(@pet) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.input :species, collection: Pet::SPECIES %>
  <%= f.input :environment, as: :radio_buttons, collection: Pet::ENVIRONMENT %>
  <%= f.input :age %>
  <%= f.input :price, label: "Price per day" %>
  <%= f.input :address %>
  <%= f.submit %>
<% end %>
</div>
