<h1>Available pets</h1>
<hr>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @pets.each do |pet| %>

            <% if pet.photo.attached? %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(pet.photo.key) %>)">
                <%= link_to pet.name, pet_path(pet) %>
                  <%= link_to "+",
                            pet_path(pet),
                            method: :delete,
                            data: { confirm: "Are you sure?" },
                            class: "card-remove-link" %>
              </div>
            <% else %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "https://res.cloudinary.com/da7juwdee/image/upload/v1589893168/dessin-chien_cojyc3.jpg"%>)">
                <%= link_to pet.name, pet_path(pet) %>

                  <%= link_to "+",
                            pet_path(pet),
                            method: :delete,
                            data: { confirm: "Are you sure?" },
                            class: "card-remove-link" %>

              </div>
            <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<hr>
<%= link_to "I want to rent my own pet", new_pet_path  %>
