<% if @my_pets.empty? && @my_bookings.empty? && @client_bookings.empty? %>
  <h1>You currently have no pets or bookings on the website</h1>
<% end %>
<% unless @my_pets.empty? %>
  <h1>My pets posted to the website</h1><br>
<% end %>
<% @my_pets.each do |pet| %>
  <h3><%= pet.name %></h3><br>
  <% if pet.photo.attached? %>
    <%= cl_image_tag pet.photo.key, width: 400, height: 300, crop: :fill%>
  <% else %>
    <%= cl_image_tag("dessin-chien_cojyc3.jpg",
                        width: 400, height: 300, crop: :fill) %>
  <% end %>
  <br>
  <%= link_to "Delete #{pet.name}",
            pet_path(pet),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<% end %>
<br>
<br>
<% unless @my_bookings.empty? %>


  <h1>My bookings of other pets</h1>
<% end %>
<br>
<% @my_bookings.each do |booking| %>
  <h3><%= booking.pet.name %></h3>
  <% if booking.pet.photo.attached? %>
    <%= cl_image_tag booking.pet.photo.key, width: 400, height: 300, crop: :fill %>
  <% else %>
    <%= cl_image_tag("dessin-chien_cojyc3", width: 400, height: 300, crop: :fill) %>
  <% end %><br><br>
  <h6>Start date: <%= booking.date_start %></h6>
  <h6>End date: <%= booking.date_end %></h6>
  <h6>Total rental price: $<%= (booking.date_end.day - booking.date_start.day)*booking.pet.price%></h6>
  <%= link_to "Delete booking of #{booking.pet.name}",
            booking_path(booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %><br><br>
<% end %>
<br>
<% unless @client_bookings.empty? %>
  <h1>Reservations of my pets</h1>
<% end %>
<br>
<% @client_bookings.each do |booking| %>
  <h3><%= booking.pet.name %></h3>
  <% if booking.pet.photo.attached? %>
    <%= cl_image_tag booking.pet.photo.key, width: 400, height: 300, crop: :fill %>
  <% else %>
    <%= cl_image_tag("dessin-chien_cojyc3", width: 400, height: 300, crop: :fill) %>
  <% end %><br><br>
  <h6>Start date: <%= booking.date_start %></h6>
  <h6>Start date: <%= booking.date_end %></h6>
    <h6>Total rental price: $<%= (booking.date_end.day - booking.date_start.day)*booking.pet.price%></h6>
  <% if booking.validated == false %>
    <%= link_to "Validate booking of #{booking.pet.name}", booking_validate_path(booking), method: :patch %>
  <% else %>
    <h6>Booking validated</h6>
  <% end %>
  <br>
  <%= link_to "Delete booking of #{booking.pet.name}",
            booking_path(booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<% end %>




